# postgres database
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_PORT=""
DATABASE_HOST=""
DATABASE_SSLMODE=""
export DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?sslmode=${DATABASE_SSLMODE}"

# api
export ADDR="0.0.0.0:7777"

# redis
export REDIS_ADDR="redis:6379"
export REDIS_PASSWORD=""
export REDIS_DB=0

# gmail smtp
export SMTP_SERVER=""
export FROM_EMAIL=""
export EMAIL_PASSWORD=""

# frontend
export VITE_API_URL="https://api.domain.com"
